html, body, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.hero {
  max-width:100%;
  width: 100vw;
  height: 100vh;
  background-image: url('./sparvagsstafetten.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #f1f1f1;
}

.hero-dim {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.register {
  text-align: center;
}

.button-register {
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
a.button-register:link, a.button-register:visited, a.button-register:hover {
  color:#fff;
}

.hero h1, .hero h2 {
  text-align: center;
}
.hero h1 img {
  width: 80%;
}

.hero .divider:before {
  content:"";
  display: block;
  border-top: 0.5px solid white;
  padding-top:0.3rem;
  margin: 0 auto;
  width: 40%;
}
.hero .divider:after {
  content:"";
  display: block;
  border-bottom: 0.5px solid white;
  padding-bottom:0.3rem;
  margin: 0 auto;
  width: 40%;
}

.hero h2 {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.hero h2:before {
  content:"";
  display: block;
  border-top: 1px solid white;
  padding-bottom: 0.4rem;
  margin: 0 auto;
  width: 40%; 
}

.hero h2:after {
  content:"";
  display: block;
  border-bottom: 1px solid white;
  padding-top: 0.4rem;
  margin: 0 auto;
  width: 40%; 
}

@media screen and (min-width:550px) {
  .hero h1 img {
    width: 65%;
  }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 30%;
  }
  .hero h2 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width:770px) {
.hero h1 img {
  width: 55%;
  }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 25%;
  }
  .hero h2 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width:950px) {
  .hero h1 img {
    width: 45%;
    }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 20%;
  }
  .hero h2 {
    font-size: 2.4rem;
  }    
}
@media screen and (min-width:1050px) {
  .hero h1 img {
    width: 38%;
    }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 15%;
  }
  .hero h2 {
    font-size: 2rem;
  }    
}
@media screen and (min-width:1450px) {
  .hero h1 img {
    width: 30%;
    }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 10%;
  }
}


.segment {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 3%;
}
.segment h2, .segment h3, .segment h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem
}
.segment * {
  margin-top: 0.3rem;
}

@media screen and (min-width:1090px) {
  .segment:not('.columns') {
    display: flex;
    flex-flow: column wrap;
    align-content: center
  }
  .segment > * {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }
  .columns {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }

}

.columns {
  display: flex;
  flex-flow: row nowrap;
  max-width:100%;
}

@media screen and (max-width:900px) {
  .columns {
    flex-wrap: wrap;
  }
}

.column {
  min-width: 50%;
}
.column-of-3 {
  min-width: 33%;
}

img {
  width: 90%;
}

a {
  text-decoration: none;
}

a:link {
  color:#555;
  font-weight: bolder;
} 

a:visited {
 color:#7c7c82;
}

a:hover {
 color:#333;
 cursor: pointer;
}

.light_gray {
  background-color: #e4f4f4;
  color: #333;
}

.dark_gray {
  background-color: #7c7c82;
  color: #fff;
}

.green {
  background-color: #8ec6af;
  color: #fff;
}

.orange {
  background-color: #f47a56;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #7c7c82;
}

