@import url('../node_modules/cookieconsent/build/cookieconsent.min.css');

html, body, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
strong {
  font-weight: bold;
}

section h1, h2, h3, h4 {
  text-align: center;
}

.hero {
  max-width:100%;
  width: 100vw;
  height: 100vh;
  background-image: url('./P4S_6180_a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #f1f1f1;
}

.hero-dim {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.cta {
  text-align: center;
}

.button-cta {
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
a.button-cta:link, a.button-cta:visited, a.button-cta:hover {
  color:#fff;
}

.quick-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-column-gap: 5%;
  grid-row-gap: 50px;
}


.quick-info__item  {
  text-align: center;
}

.quick-info__item img{
  width: 50px;
}

nav.quick-info {
  grid-template-columns: repeat(2,1fr);
  grid-row-gap:20px;
  font-size:90%;
}
.video { 
  padding-top:56.25%;
  position:relative;
}

.video__iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.hero h1, .hero h2 {
  text-align: center;
}
.hero h1 img {
  width: 80%;
}

.hero .divider:before {
  content:"";
  display: block;
  border-top: 0.5px solid white;
  padding-top:0.3rem;
  margin: 0 auto;
  width: 40%;
}
.hero .divider:after {
  content:"";
  display: block;
  border-bottom: 0.5px solid white;
  padding-bottom:0.3rem;
  margin: 0 auto;
  width: 40%;
}

.hero h2 {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.hero h2:before {
  content:"";
  display: block;
  border-top: 1px solid white;
  padding-bottom: 0.4rem;
  margin: 0 auto;
  width: 40%; 
}

.hero h2:after {
  content:"";
  display: block;
  border-bottom: 1px solid white;
  padding-top: 0.4rem;
  margin: 0 auto;
  width: 40%; 
}
.section-center {
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: auto;
 
}
.section-sidehead {
  display: none;
}
.section-content {
  padding:10px;
}
@media screen and (min-width:550px) {

  .hero h1 img {
    width: 65%;
  }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 30%;
  }
  .hero h2 {
    font-size: 1.8rem;
  }
  nav.quick-info {
    grid-template-columns: repeat(3,1fr);  
  }
  .section-center {
    grid-template-columns: 1fr;
    margin-left:auto;
    margin-right:auto;
    max-width: 690px;
  }
}
@media screen and (min-width:770px) {
 .hero {
    background-image: url('./P4S_6189_b.jpg');
  }
.hero h1 img {
  width: 55%;
  }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 25%;
  }
  .hero h2 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width:950px) {
  .hero h1 img {
    width: 45%;
    }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 20%;
  }
  .hero h2 {
    font-size: 2.4rem;
  }
  .section-center {
    grid-template-columns: 50px 640px;
    margin-left:auto;
    margin-right:auto;
    max-width: 690px;
  }
  .section-sidehead {
    display: block;
  }

}
@media screen and (min-width:1050px) {
  .hero h1 img {
    width: 38%;
    }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 15%;
  }
  .hero h2 {
    font-size: 2rem;
  } 
  nav.quick-info {
    grid-template-columns: repeat(6,1fr); 
    max-width:950px;
  }   
}
@media screen and (min-width:1450px) {
  .hero {
    background-image: url('./P4S_6189_c.jpg');
  }
  .hero h1 img {
    width: 30%;
    }
  .hero .divider:before, .hero .divider:after, .hero h2:before, .hero h2:after  {
    width: 10%;
  }
}

.segment {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 3%;
}
.segment h2, .segment h3, .segment h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem
}
.segment * {
  margin-top: 0.3rem;
}

@media screen and (min-width:1090px) {
  .segment:not('.columns') {
    display: flex;
    flex-flow: column wrap;
    align-content: center
  }
  .segment > * {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }
  .columns {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-center {
    max-width: 690px;
  }
}

.columns {
  display: flex;
  flex-flow: row nowrap;
  max-width:100%;
}

@media screen and (max-width:900px) {
  .columns {
    flex-wrap: wrap;
  }

  .quick-info {
    grid-template-columns: repeat(1, 1fr);   
  }

  .media-body .gallery { 
    grid-template-columns: repeat(2, 1fr);   
  }

}

.column {
  min-width: 50%;
}
.column-of-3 {
  min-width: 33%;
}

.center-img {
  text-align: center;
}
img {
  width: 90%;
}

.note {
  font-style: italic;
  font-size: 90%;
}
.note:before {
  font-style: normal;
  font-weight: bold;
  color:#f47a56 ;
  content: '\26A0\A0';
}


a {
  text-decoration: none;
}

a:not(.button-cta):link {
  color:#555;
  font-weight: bolder;
} 

a:not(.button-cta):visited {
 color:#7c7c82;
}

a:not(.button-cta):hover {
 color:#333;
 cursor: pointer;
}



.light_gray {
  background-color: #e4f4f4;
  color: #333;
}

.dark_gray {
  background-color: #7c7c82;
  color: #fff;
}
.dark_gray a:not(.button-cta):link, .dark_gray a:not(.button-cta):visited {
  color: #f47a56;
}
.dark_gray a:not(.button-cta):hover {
  color: #f1592b;
}
.green {
  background-color: #8ec6af;
  color: #fff;
}

.orange {
  background-color: #f47a56;
  color: #fff;
}
.orange a:not(.button-cta):link, .orange a:not(.button-cta):visited {
  color: #444;
}
.orange a:not(.button-cta):hover {
  color: #111;
}
.white {
  background-color: #fff;
  color: #7c7c82;
}

.header {
  background: #8ec6af;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}
.header img {
  height: 100%;
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .header {
    max-height: 200px; /* Lower the max-height for smaller devices */
  }
}

@media (min-width: 768px) {
   .header {
    overflow-y: visible; /* Reset overflow in large displays */
  }
 }

 .media-body { 
   margin-top: 100px;
   padding: 1%;
 }

 .media-body .gallery { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  
  grid-column-gap: 5%;
  grid-row-gap: 5%;

  padding: 50px 0;
 }

 .links { 
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
 }

 .links .link{
  cursor: pointer;
  color: #333333;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center; 
  line-height: 300px;
 }
 @media screen and (max-width:675px) {
  .links {
     flex-direction: column-reverse;
  }
  .links .link {
    line-height: 200px;
  }
}
 .links .link:first-child {
  background: #8ec6af;
  color: #ffffff;
 }

 nav { 
  margin-top: 100px;
  padding: 1%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}