html, body, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.hero {
  max-width:100%;
  width: 100vw;
  height: 100vh;
  background-image: url('./sparvagsstafetten.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #f1f1f1;
}

.hero-dim {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.register {
  text-align: center;
}

.button-register {
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
  color:#fff !important;
}

.hero h1, .hero h2 {
  text-align: center;
}
.hero h1 img {
  width: 80%;
}

@media screen and (min-width:550px) {
  .hero h1 img {
    width: 65%;
  }
}
@media screen and (min-width:770px) {
.hero h1 img {
  width: 55%;
  }
}
@media screen and (min-width:950px) {
  .hero h1 img {
    width: 45%;
    }
}
@media screen and (min-width:1050px) {
  .hero h1 img {
    width: 38%;
    }
}
@media screen and (min-width:1450px) {
  .hero h1 img {
    width: 30%;
    }
}

.hero h2 {
  font-style: italic;
  font-weight: 400;
}

.segment {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 3%;
}
.segment h2, .segment h3 {
  margin-top: 1.5rem;
}
.segment * {
  margin-top: 0.3rem;
}

@media screen and (min-width:1090px) {
  .segment:not('.columns') {
    display: flex;
    flex-flow: column wrap;
    align-content: center
  }
  .segment > * {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }
  .columns {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
  }

}

.columns {
  display: flex;
  flex-flow: row nowrap;
}

@media screen and (max-width:900px) {
  .columns {
    flex-wrap: wrap;
  }
}

.column {
  min-width: 50%;
}

img {
  width: 90%;
}

a {
  text-decoration: none;
}

a:link {
  color:#555;
  font-weight: bolder;
} 

a:visited {
 color:#7c7c82;
}

a:hover {
 color:#333;
 cursor: pointer;
}

.navy {
  background-color: #193970;
  color: #e1e1e1;
  box-shadow: inset 0 3px 3px #111;
}

.light_gray {
  background-color: #e4f4f4;
  color: #333;
}

.dark_gray {
  background-color: #7c7c82;
  color: #fff;
}

.green {
  background-color: #8ec6af;
  color: #fff;
}

.orange {
  background-color: #f47a56;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #7c7c82;
}

